<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deum</title>
</head>
<body>
    <div class="centerHolder">
        <a href="/control/run" class="button center">Deum</a>
    </div>
</body>
</html>


<style>
body {
  background-color: black;
}

.button {
  margin-top: 200px;
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 40px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;

}

.center {
  text-align: center;
}

.centerHolder{ text-align: center; }

</style>
