<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deum</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
    <div class="centerHolder">
        <!--<a href="/control/run" class="button center">Deum</a><br>-->

        <form action="http://localhost:8000/control/result/" method="post" style="margin-top: 200px">
            <!--{% csrf_token %}-->
            <input class="center" type="text" id="power" name="power" value="10">
            <label class="text" for="duration">&nbsp&nbsp&nbsp</label>
            <a class="aBtn" href="#" id="power_plus">+</a>
            <a class="aBtn" href="#"id="power_minus">-</a><br>

            <input class="center" type="text" id="duration" name="duration" value="20">
            <label class="text" for="duration">초</label>
            <input type="hidden" class="center" type="text" id="mode" name="mode" value="0">
            <input type="hidden" class="center" type="text" id="on" name="on" value="1">
            <input type="hidden" class="center" type="text" id="device" name="device" value="0">
            <a class="aBtn" href="#" id="duration_plus">+</a>
            <a class="aBtn" href="#" id="duration_minus">-</a><br>
            <input type="submit" value="돌리기">
        </form>
    </div>
</body>
</html>

<style>
body {
  background-color: black;
}

.text {
  color: white;
}

.aBtn {
  font-size: 30px;
  color: white;
  text-decoration: none;
  margin: 5px;
}


.button {
  margin-top: 200px;
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 40px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

.center {
  text-align: center;
}

.centerHolder{ text-align: center; }

</style>

<script>
    $('#power_plus').click(function(){
        var x = parseInt(document.getElementById("power").value);
        x += 1;
        if(x > 10) x = 10;
        document.getElementById("power").value = x;
    });

    $('#power_minus').click(function(){
        var x = parseInt(document.getElementById("power").value);
        x -= 1;
        if(x < 0) x = 0;
        document.getElementById("power").value = x;
    });

    $('#duration_plus').click(function(){
        var x = parseInt(document.getElementById("duration").value);
        x += 5;
        document.getElementById("duration").value = x;
    });

    $('#duration_minus').click(function(){
        var x = parseInt(document.getElementById("duration").value);
        x -= 5;
        if(x < 0) x = 0;
        document.getElementById("duration").value = x;
    });


</script>

